*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #212121;
    color: #fff;
}

.container {
    position: relative;
}

.clock {
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    z-index: 2;
}

.hand {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hand i {
    position: absolute;
    background: var(--clr);
    width: var(--w);
    height: var(--h);
    border-radius: 8px;
}