
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #212121;
    color: #ffffff;
}

.container {
    position: relative;
}

.clock {
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(247, 189, 131, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 15px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 24px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #CCAA35;
    z-index: 2;
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#sec::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 24px;
    background: #fff;
    left: -1px;
    bottom: -24px;
}

.hand i {
    position: absolute;
    background: var(--clr);
    width: var(--w);
    height: var(--h);
}


